Source: freedombone
Section: utils
Priority: extra
Maintainer: Bob Mottram (4096 bits) <bob@robotics.uk.to>
Build-Depends: debhelper (>= 9.0.0), libsqlite3-dev
Standards-Version: 3.9.4
Homepage: http://freedombone.uk.to
Vcs-Git: https://github.com/bashrc/freedombone.git

Package: freedombone
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, git
Description: Home server configuration
 The Freedombone system can be installed onto a Beaglebone Black, or
 any system capable of running Debian Jessie, and allows you to host
 your own email and web services. With Freedombone you can enjoy
 true freedom and independence in the cloud.
